@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .header-mision-cont {
    width: 100%;
    height: 85px;
    background: #580ce5;
  }

  .mision-text {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }

  .mision-header-1 {
    width: 10%;
  }

  .mision-header-2 {
    width: 80%;
  }
  .mision-header-3 {
    width: 10%;
  }
}
