@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mission-content {
    width: 100%;
  }

.btn-mission {
    width: 308px;
    height: 60px;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
}

  .mission-p-dark {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
  }

  .mission-p-light {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 13.8px;
    color: #999999;
  }
}
