@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .AgeContainer {
    width: 100%;
    height: 100vh;
    color: #333333;
  }

  .AgeHeader {
    width: 100%;
    height: 44px;
    background-color: #5c3eca;
  }

  .SelectDate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .SelectText {
    width: 160px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 25px;
    line-height: 28px;
    color: #333333;
    padding-top: 160px;
    padding-bottom: 70px;
    text-align: center;
  }

  .InputDate {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .input-box {
    width: 71px;
    height: 41px;
    border-radius: 5px;
    border: solid 1px #D8D8D8;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #555555;
    margin: 8px;
  }

  .input-box:focus {
    background-color: rgba(92, 62, 202, 0.7)
  }

  .navigation-component {
    width: 100%;
    padding-top: 220px;
  }
}
