.container-competitive {
  display: flex;
  flex-direction: column;
  height: 62vh;
  padding-top: 14vh;
  width: 93vw;
  margin-left: 2vh;
}

.box-textCompetitive {
  text-align: center;
  width: 61vw;
  margin-left: 9vh;
}

.btn-Competitive {
  background-color: #ffff;
 
  color: #555555;
  font-weight: 500;
  width: 181px;
  height: 49px;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #d8d8d8;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #555555;
  margin: 22px 129px 0px;
}

.box-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 23vh;
  align-items: center;
}

.box-navigator{
 padding-top: 10vh;
}