.container-competitive {
  display: flex;
  flex-direction: column;
  height: 40vh;
  padding-top: 14vh;
  width: 93vw;
  margin-left: 2vh;
}

.box-textCompetitive {
  text-align: center;
  width: 61vw;
  margin-left: 9vh;
}

.btn-Competitive {
  background-color: transparent;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  color: #555555;
  height: 41px;
}

.box-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  align-items: center;
}
