@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .gender-container {
    width: 100%;
    height: 100vh;
    color: #333333;
  }

  .AgeHeader {
    width: 100%;
    height: 44px;
    background-color: #5c3eca;
  }

  .gender-p-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .gender-p {
    width: 267px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #333333;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 33px;
  }

  .gender-buttons {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }

  .gender-btn {
    width: 153px;
    height: 41px;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #d8d8d8;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #555555;
    margin: 22px 129px 0px;
  }

  .gender-navigation {
    padding-top: 179px;
  }
}
