@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
.dialogClass{
    display: flex;
    width: 80%;
    font-family: "Nunito", sans-serif;
}
.titleT{
    text-align: center;
}
.imgdiv{
    align-self: center;
    width: 5vw;
    margin: 5%;
}
}
