@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .time-container {
    width: 100%;
    height: 100vh;
    color: #333333;
  }

  .time-text {
    display: flex;
    justify-content: center;
  }

  .time-p {
    width: 260px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #333333;
    padding-top: 160px;
    padding-bottom: 30px;
  }

  .buttons-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .btn-time {
    height: 41px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: #555555;
    padding: 0 20px;
    margin: 22px 100px 0;
  }

  .navigation-time {
    padding-top: 147px;
  }
}
