*{
  font-family: 'Nunito';
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito';
}
p{
  margin:0;
}
a{
  text-decoration: none;
}